%fieldset
  %legend= "Filtrar"
  - remote_form_for @search, :url => vigiladores_path, :html => {:method => "get", :id => "filtrar_fecha_ingreso"} do |f|
    = hidden_field_tag :namespace, @namespace
    %label= "Filtrar por:"
    = select_tag :filtrar, options_for_select([["Legajo", 0], ["Fecha Ingreso",1], ["Fecha Baja", 2], ["Apellido",3], ["Nombre",4], ["Desertores",5]])
    - f.fields_for @search.conditions do |vigiladores|
      %br
      %label= "Legajo"
      = vigiladores.text_field :legajo_like
      %br
      %label= "Fecha Baja desde"
      - vigiladores.fields_for :datos do |dato_fields|
        = select_date(Date.today, {:use_month_names => %w{Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre }, :prefix => 'search[conditions][datos][fecha_greater_than_or_equal_to]'})
      %br
      %label= "Fecha Baja hasta"
      - vigiladores.fields_for :datos do |dato_fields|
        = select_date(Date.today, {:use_month_names => %w{Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre }, :prefix => 'search[conditions][datos][fecha_less_than_or_equal_to]'})
      %br
      %label= "Fecha Ingreso desde"
      = select_date(Date.today, {:use_month_names => %w{Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre }, :prefix => 'search[conditions][fecha_ingreso_greater_than_or_equal_to]'})
      %br
      %label= "Fecha Ingreso hasta"
      = select_date(Date.today, {:use_month_names => %w{Enero Febrero Marzo Abril Mayo Junio Julio Agosto Septiembre Octubre Noviembre Diciembre }, :prefix => 'search[conditions][fecha_ingreso_less_than_or_equal_to]'})
      %br
      %label= "Apellido"
      = vigiladores.text_field :apellido_like
      %br
      %label= "Nombre"
      = vigiladores.text_field :nombre_like
      %br
      %label= "Desertores"
      %br
      = submit_tag "Filtrar"
