%ul.tabs
  %li.label= "Menu"
  - grupos.each do |ge|
    %li<
      = link_to_remote ge.etiqueta, { :url => { :action => ge.namespace, :search => params[:search] }, :method => "get", :html => {:name => "#{ge.namespace}"} }
- grupos.each do |ge|
  %div{:id => "#{ge.namespace}"}
    %ul.menuitem
      - ge.children_groups.each do |cg|
        %li<
          %a{:href => "#{eval("#{cg.parent_group.namespace}_path")}#{cg.id}"}>= cg.etiqueta