%div= link_to "Exportar XLS", {:format => 'xls' }
%tr
  %th{:style => "width:60px; background: transparent;" }
  %th{:style => "width:100px; background: transparent;" }
  %th{:style => "width:20px; background: transparent;" }
  %th{:style => "width:40px;"}= "Legajo"
  %th{:style => "width: 80px;"}= "Apellido"
  %th{:style => "width: 100px;"}= "Nombre"
  %th{:style => "width: 80px;"}= "DNI"
  %th{:style => "width: 80px;"}= "Fecha Ingreso"
  - @grupo.children_groups.each do |g|
    - g.accesos.each do |a|
      - e = a.elemento
      %th{:style => "width: 40px;", :class => "dato #{get_css(a)}"}
        = e.etiqueta
        - if e.is_a? ElementoGestionTramites
          %span#porcentaje_gestion_tramites= "#{VariacionPorcentajeGestion.porcentaje_actual}"
          = "%"
          = link_to_function "modificar", :onclick => "popup_modificacion_porcentaje()" if current_user.is_a? AdminUser
- if @vigiladores.size > 0
  - @vigiladores.each do |vigilador|
    = render :partial => "vigiladores/vigilador", :locals => { :vigilador => vigilador }