#tab-set
  = render :partial => 'vigiladores/menu', :locals => { :grupos => @grupos }
= render :partial => "filtrar_fecha_ingreso"
#vigiladores
  = render :partial => "vigiladores/vigiladores"
= link_to_remote "Agregar nuevo vigilador #{image_tag("add.png")}", :url => new_vigilador_path, :method => "get", :html => { :id => "link-new" }
%br
= page_links
