- if not class_editable.blank?
  = "Costo: " + content_tag(:label, unless dato.costo.to_i.eql?(0) then dato.costo else link_to("aplicar", aplicar_gestion_tramites_vigilador_path(vigilador)) end, :id => "dato_#{dato.id}_costo", :name => "dato[#{dato.id}][costo]", :style => "width: 50px;")
- else
  = "Costo: " + content_tag(:label, dato.costo, :id => "dato_#{dato.id}_costo", :name => "dato[#{dato.id}][costo]", :style => "width: 50px;")